[Unit]
Description=Node Exporter
After=network.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter \
		--no-collector.arp \
		--no-collector.bcache \
		--no-collector.hwmon \

[Install]
WantedBy=multi-user.target
